.navBox{
    // margin-top: 2%;
    .customDisplay(center, center);
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;

    .navText{
        padding-top: 1%;
        .customDisplay(center, center);
        max-width: 1000px;
        width: 100%;
        flex-direction: column;
        background-color: @nav-border;
        border-radius: 8px;
    } // end navText

    nav {
        margin: 1% 0;
        width: 50%;
         .customDisplay(space-evenly, center);

         @media @tablet {
             width: 80%
         }
         
         @media @mobile {
             width: 80%;
         }

        a {
            text-decoration: none;
            color: @river-bend;

            &:hover{
                color: @nav-font-hover;
                .animate();
            }
        } // end a

    } // end nav

} // end navBox